# Receive data from port {{ fluentd_port }}
<source>
  @type forward
  port {{ fluentd_port }}
  bind 0.0.0.0
  source_address_key clientip
</source>

#match tags and forward to elasticsearch
{% for var in es_env_vars %}
<match {{ var.tag }}>
  @type elasticsearch
  host {{ es_server | default('localhost') }}
  port {{ es_server_port }}
  index_name {{ var.index }}
</match>
{% endfor %}
