<source>
  @type forward
  @label @log_handler
  port {{ fluentd_port }}
  bind 0.0.0.0
</source>

#Homework: buffer to file system
# 1. make sure when fluentd client crash, all log can be found
# 2. make sure when fluentd server crash, all log can be found
<label @log_handler>

  #reparse record log with expression
  <filter>
    @type parser
    key_name log
    reserve_data true
    <parse>
      @type regexp
      expression {{ fluentd_parser }}
    </parse>
  </filter>

  #remove unnecessary keys and add importment keys
  <filter>
    @type record_transformer
    remove_keys source,container_id
    <record>
      tag ${tag}
      timestamp ${time}
    </record>
  </filter>

  #forward log to efk
  #make sure fluentd server HA
  <match **>
    @type copy
    <store>
      @type forward
      <server>
        name master
        host {{ fluentd_server }}
      </server>
      <server>
        name backup
        host {{ fluentd_server_bak | default(omit) }}
        standby
      </server>
    </store>
    <store>
      @type file
      path /var/log/td-agent/${tag}
    </store>
  </match>
</label>
