<source>
  @type forward
  @label @TEST
  port 24224
  bind 0.0.0.0
</source>


<label @TEST>
  <filter>
    @type record_transformer
    remove_keys source,container_id
    <record>
      tag ${tag}
      timestamp ${time}
    </record>
  </filter>
  <match **>
    @type forward
    <server>
      host {{ fluentd_server }}
    </server>
  </match>
</label>
